@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Orbitron:wght@700;800&display=swap");

:root {
  --magenta: #e000b3;
  --ember: #0f0004;
  --sun: #ffad12;
  --white: #fff;
  --sunset: linear-gradient(to right, #ffad12, #ff7c3c, #ff4960, #ff1482);
}

body {
  font-family: "Orbitron", serif;
}

input {
  padding: 5px 10px;
  font-family: "Orbitron", serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--ember);
    margin: 0;
    color: var(--white);
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--white);
    margin: 0;
    color: var(--ember);
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  font-size: clamp(32px, 5vw, 60px);
}

.subHeader {
  font-size: clamp(24px, 3vw, 36px);
  font-weight: bold;
}

.link {
  background: transparent;
  font-family: "Orbitron", serif;
  font-weight: bold;
  font-size: clamp(10px, 2vw, 18px);
  padding: 15px clamp(20px, 3vw, 40px);
  width: fit-content;
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  transform: translateY(-5px);
  transition: 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation: 2s fadeIn ease;
  z-index: 10;
}

.section {
  margin-bottom: 5%;
  padding: 0px 10%;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 330px;
}

.alert-text {
  color: red;
  font-size: x-small;
}

label {
  font-size: small;
}
input {
  height: 30px;
  font-size: medium;
}
