@media screen and (min-width: 500px) {
  .input {
    height: 40px;
    font-size: large;
  }
}
@media screen and (max-width: 500px) {
  .input {
    height: 25px;
  }
}

.input {
  border: 2px solid black;
}

.input-sm {
  width: 45%;
}
